<!DOCTYPE html>
<html>
<head>
    <title>Playlist Similarity</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <form action="/" method="post">
        <div class="row">
            <div class="column">
                <h2>Playlist ID 1:</h2>
                <input type="text" name="playlist1"><br>
            </div>
            <div class="column">
                <h2>Playlist ID 2:</h2> 
                <input type="text" name="playlist2"><br>
            </div>
          </div>
        <input type="submit" value="Calculate Similarity">
    </form>

    {% if similarity != None %}
    <h2>The playists are {{ similarity }}% similar!</h2>
    {% endif %}


</body>
</html>
    